/**
 * Tomorrow
 * https://raw.githubusercontent.com/isagalaev/highlight.js/master/src/styles/tomorrow.css
 */

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
    color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
    color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
    color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #8959a8;
}

.hljs {
    display: block;
    overflow-x: auto;
    /*background: white;*/
    color: #4d4d4c;
    padding: 0.5em;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

/* --- Custom --- */

pre {
    border: none;
    color: rgb(131, 148, 150);
}

.code,
.gutter{
    border: none;
    overflow: auto;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(247, 247, 247);
}

.gutter {
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 5px solid #56b89e;
    border-right: 1px solid #e6e6e6;
    display: block;
}

.code {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}